<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675374998982-44dh3rl5buiforomq3attg9pb6r8nk6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675374998982-44dh3rl5buiforomq3attg9pb6r8nk6f</string>
	<key>API_KEY</key>
	<string>AIzaSyCl9aptUDXHhELQlBO-QwhAE_b_NILh7gw</string>
	<key>GCM_SENDER_ID</key>
	<string>675374998982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileStarterKit</string>
	<key>PROJECT_ID</key>
	<string>starter-kit-91567</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-kit-91567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675374998982:ios:aa20308fc04cbdf014fec7</string>
</dict>
</plist>